html,
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}
p{
    margin: 0;
}

h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: normal;
    font-family: "local-Roboto-thin";
    
}

@font-face {
    font-family: 'local-Roboto-thin';
    src: url("Resources/Fonts/Roboto-Thin.ttf");
}
@font-face {
    font-family: 'local-Roboto-bold';
    src: url("Resources/Fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: 'local-Roboto-Regular';
    src: url("Resources/Fonts/Roboto-Regular.ttf");
}

#main{
    background-image: url("Resources/Background.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content{
    width: 83vw;
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

nav{
    height: 10%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
nav>ul {
    display: flex;
    flex-flow: row nowrap;
}
#pages{
    justify-content: space-between;
}
#sub-pages{
    justify-content: center;
    gap: 1%;
}

#menu-area{
    height: 86%;
    display: flex;
    flex-flow: row wrap;
}

.card {
    height: 47%;
    border: solid 1px white;
    display: flex;
    flex-flow: column nowrap;
    gap: .5em;
}
.card:nth-child(1){
    background-color: #FFF4;
}
.card:nth-child(1) h1{
    background-color: rgb(230,230,230,.8);
    padding: .15em;
}
.card h1{
    background-color: #000D;
    padding: .15em;
    color: white;
}
.card div{
    background-image: url("Resources/Tile_image_1.png");
    background-position: center;
    background-repeat: no-repeat;
    flex-grow: 1;

    display: flex;
    flex-flow: row-reverse nowrap;
    /*justify-content: flex-end;*/
    align-items: flex-end;
}

.card div article{
    height: 50%;
    width: 40%;
    background-color: #0003;

    font-family: local-Roboto-Regular;
    color: white;
    font-size: .8em;

    padding-right: 5%;

}

/** {*/
/*    border:1px solid red;*/
/*}*/