html,
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}
p{
    margin: 0;
}

h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: normal;
    font-family: "local-Roboto-thin";
    
}

html{
    --light-grey:#FFF8;
    --lighter-grey:rgb(230,230,230,.8);
    --grey:#0008;
}

@font-face {
    font-family: 'local-Roboto';
    src: url("Resources/Fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: 'local-Roboto';
    src: url("Resources/Fonts/Roboto-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: 'local-Roboto-thin';
    src: url("Resources/Fonts/Roboto-Thin.ttf");
}
@font-face {
    font-family: 'local-Roboto-Light';
    src: url("Resources/Fonts/Roboto-Light.ttf");
}


#main{
    background-image: url("Resources/Background.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content{
    width: 83vw;
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

nav{
    height: 10%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
nav>ul {
    display: flex;
    flex-flow: row nowrap;
}
#pages{
    width: 100%;
    justify-content: space-between;
    gap: 1.5%;
}
#sub-pages{
    width: 50%;
    justify-content: space-between;
    gap: 2%;
}
#sub-pages li.selected{
    flex-grow: 2;
}



#pages li.selected,
#sub-pages li.selected{
    background-color: var(--light-grey);
    color: black;
    font-family: local-Roboto;
    font-weight: bold;
}

#pages li,
#sub-pages li{
    background-color: #0008;
    /*color: white;*/
    font-family: local-Roboto-Light;
    flex-grow: 1;

    --c: white;
    color: var(--c);
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    /*margin: 1em;*/
}

#pages li span,
#sub-pages li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

#pages li:hover,
#sub-pages li:hover{
    color: black;
}

#pages li:hover span,
#sub-pages li:hover span{
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}

#pages li{
    padding: .2em 0 .2em 0;
    text-align: center;
    /*width: 24%;*/
}
#sub-pages li{
    font-size: .8em;
    padding: .2em 0 .2em 0;
    text-align: center;
    /*width: 12%;*/
}

/*
        Page List
 */

#card-list{
    height: 86%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;
    row-gap: 5%;
    column-gap: 2%;
}

.card {
    height: 47%;
    background-color: #0009;
    /*border: solid 1px white;*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: .5em;

    flex-basis: 30%;
    flex-grow: 1;

    padding: .4em;
}

.card.selected{
    background-color: var(--light-grey);
    flex-basis: 63%;
    flex-grow: 2;
}
.card.selected h1{
    background-color: var(--lighter-grey);
    color: black;
    font-size: 2em;
    padding: .3em 0 0 .3em;
    vertical-align: center;
}
.card h1{
    background-color: #000A;
    padding: .4em 0 0 .4em;
    color: white;
    font-size: 1.2em;
    height: 20%;
}
.card h1 em{
    font-style: normal;
    font-family: local-Roboto;
    font-weight: bold;
}
.card div{
    height: 68%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;

    display: flex;
    flex-flow: column-reverse nowrap;
    align-items: flex-end;
}

.card.selected div article{
    width: 50%;
    padding-right: 5%;
}

.card div article{
    background-color: var(--grey);

    font-family: local-Roboto;
    color: white;
    font-size: .8em;
    z-index: 2;
}

/** {*/
/*    border:1px solid red;*/
/*}*/

#loader{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    /*border-top: 5px solid rgb(1,120,220);*/
    /*border-left: 3px solid rgb(1,150,230);*/
    /*border-bottom: 1px solid white;*/
    border-top: 5px solid rgb(1,120,220);
    border-left: 3px solid rgb(1,150,230);
    border-bottom: 1px solid white;
    border-right: transparent;
    animation: spinner 1s linear infinite;
}
@keyframes spinner{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

body.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#main{
    display: none;
}
#loader {

}